*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1;
}

a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}



button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    appearance: button;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

img,
picture,
video {
    /* display: block; */
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    /* font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem; */
}

ol,
ul,
menu {
    list-style: none;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: 100%;
    border: none;
    outline: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

b,
strong {
    font-weight: bolder;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/* ::-moz-focus-inner {
    border-style: none;

} */

/* input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
} */
/* input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
} */